<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ page.redirect_to | relative_url }}">
    <link rel="canonical" href="{{ page.redirect_to | absolute_url }}">
    <title>Redirecting&hellip;</title>
  </head>
  <body>
    <p>This page has moved to <a href="{{ page.redirect_to | relative_url }}">{{ page.redirect_to | absolute_url }}</a>.</p>
    <script>location.replace({{ page.redirect_to | absolute_url | jsonify }});</script>
  </body>
</html>
